@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #d98a8a;
  --foreground: #790505;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  display: block;
  margin: auto;
  margin-top: 23px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.contanier {
  /* border: 12px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
  margin-left: 75px;
  margin-bottom: 55px;
}

span {
  font-size: bold;
  color: rgb(146, 44, 73);
}
label.tag {
  text-decoration: underline;
  font-size: 30px;
  color: black;
  margin-bottom: 43px;
  display: block;
  text-align: center;
}

.links li {
  /* border: 2px solid black; */
  text-align: center;
  font-size: 24px;
  text-decoration: underline;
}

/* skills */
.boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.btn {
  border: 2px solid rgb(86, 4, 4);
  border-radius: 18px;
  text-align: center;
  padding: 8px;
  font-size: 15px;
  display: block;
  margin: auto;
  margin-top: 50px;
}
.btn:hover {
  background: #f04040;
  color: antiquewhite;
}

/* experiences */

.box {
  border: 2px solid rgb(91, 12, 12);
  padding: 33px;
  margin: 12px;
  border-radius: 8px;
  background: rgb(229, 166, 169);
  transition: 0.5s ease;
}
.box .tag {
  color: #91057c;
  font-size: bolder;
}
.box:hover {
  transform: scale(1.02);
  cursor: pointer;
}

@media screen and (max-width:700px) and (min-width:10px) {
  
  .boxes{
    flex-direction: column;
  }
  .contanier{
    flex-direction: column;
  }
}